@charset "utf-8";

html {
    scroll-behavior: smooth;
}

body {
    background-color: #bbd3dd;
    }
/* ヘッダー */
.header_container {
    padding-right: 4.8%;
    padding-top: 20px;
    /* 85/1920 */
    width: 100%;
    position:fixed;
    background-color: #bbd3dd;
}

.header_nav ul {
    display:flex;
    justify-content: flex-end;
    gap:60px;
    align-items:center;
}

.header_nav li{
display: inline-block;
justify-content: space-between;
font-size: 16px;
color: #002447;
}

/* タイトル */

.works_title_wrapper {
padding: 80px 60px;

}

.works_title {
    font-size: 80px;
    color: #ebeae9;
}

/* Works詳細 */
.works_wrapper {
    padding:4.8%;
    max-width: 1200px;
    margin: 0 auto;
}

.works_topimage {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.hp_works_title {
    font-size: 60px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 2px solid #002447;
    padding-bottom: 10px;
    margin:7% 0px;
}

.hp_works_wrapper {
    display: flex;
    justify-content: space-between;
}


.hp_works_movie {
    width:55%
}

.hp_works_word {
    width:40%;
    font-size :18px;
}

.hp_works__q {
    font-weight: bold;
    padding-bottom: 5px;
}

.hp_works__a {
    padding-bottom: 20px;
    line-height: 1.8em;
}

.works_column {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding-bottom: 20px;
}

.works_topic {
    width:25%;
    font-weight: bold;
}

.works_text {
    width:65%;
    line-height: 1.8em;
}

/* 波 */

.wave__works_wrapper { 
    overflow: hidden; 
    width: 100%; 
    height: 150px; 
    position: relative; 
    background-color: #bbd3dd;
} 

.wave__works {
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 200%; /* 2倍の幅で無限ループ */
    height: 120%;
    
} 
 
.wave__works path { 
    animation: wave-flow 6s linear infinite; 
} 

@keyframes wave-flow { 
    0% { 
        transform: translateX(0);
    } 
    100% { 
        transform: translateX(-500px); /* 波の半分の幅だけ移動 */
    } 
}

/* フッター */

.site_footer_wrapper {
    background-color: #FFF;
}

.footer_contact_text {
    font-size: 28px;
    text-align: center;
    padding-bottom: 60px;
}


.footer_contact_btn a {
    display: flex;
    justify-content: center;
}

.footer_contact_btn a img {
    width:250px;
    height: auto;
    display: flex;
    justify-content: center;
}

.site_footer_logo {
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;
    padding-bottom: 30px;
}

.site_footer_logo a img {
    width:208px;
}

@media screen and ( max-width:1000px ) {
    
    .works_title_wrapper {
        padding:100px 20px 40px 20px;
    }

    .works_title {
    font-size: 50px;
    text-align: center;
    }


    .hp_works_title {
        font-size: 40px;
    }

    .hp_works_wrapper {
        display: flex;
        flex-direction: column;
    }

    .hp_works_movie {
        width:100%;
    }

    .hp_works_word {
        width:100%;
        font-size: 16px;
        padding-top: 20px;
    }

    .hp_works__a {
        padding-left: 20px;
    }

    .works_column {
        font-size: 16px;
    }
}

@media screen and ( max-width:767px ) {
    .works_column {
        display: flex;
        flex-direction: column;
    }

    .works_text {
        padding-left: 20px;
        width: 100%;
    }



    /* footer */
    .footer_contact_text {
        font-size: 20px;
    }

    .footer_contact_btn a img {
        width:175px;
        height: auto;
    }

    .site_footer_logo a {
        text-align: end;

    }

    .site_footer_logo a img {
        width:40%

    }
}

@media screen and ( max-width:480px ) {
     .works_title_wrapper {
        padding:80px 20px 40px 20px;
    }


    .works_title {
        font-size: 30px;
        text-align: center;
    }

    .hp_works_title {
        font-size: 30px;
    }

    .hp_works_word p {
        font-size: 14px;
    }

    .footer_contact_text {
        font-size: 18px;
    }

    .footer_contact_btn a img {
        width:120px;
    }

    .site_footer_logo {
        padding-top: 30px;
    }
}