@charset "utf-8";

html {
    scroll-behavior: smooth;
}

body {
    background-color: #bbd3dd;
    }
/* ヘッダー */
.header_container {
    padding-right: 4.8%;
    padding-top: 20px;
    /* 85/1920 */
    width: 100%;
    position:fixed;
    background-color: #bbd3dd;
}

.header_nav ul {
    display:flex;
    justify-content: flex-end;
    gap:60px;
    align-items:center;
}

.header_nav li{
display: inline-block;
justify-content: space-between;
font-size: 16px;
color: #002447;
}

/* ハンバーガーボタン */
.hamburger,
.header_nav_sp {
  display: none;
}

/* タイトル */

.works_title_wrapper {
padding: 80px 60px;

}

.works_title {
    font-size: 80px;
    color: #ebeae9;
}

/* おしごと */

#works {
    padding:80px 4.8%;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 40px;
    max-width: 11140px;
}

.banner_text {
    width:45%;
}

.banner_text h3 {
    font-size: 26px;
    font-weight: bold;
    border-bottom: 2px solid #002447;
    padding-bottom: 8px;
}

.banner_comment {
    padding-top: 30px;
    font-size: 18px;
    line-height: 1.5em;
}

.banner_image {
    max-width: 521px;
}

.banner_image img {
    width: 520px;   /* 親要素の幅いっぱいに表示 */
    height: auto;
}

/* 波 */

.wave__works_wrapper { 
    overflow: hidden; 
    width: 100%; 
    height: 150px; 
    position: relative; 
    background-color: #bbd3dd;
} 

.wave__works {
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 200%; /* 2倍の幅で無限ループ */
    height: 120%;
    
} 
 
.wave__works path { 
    animation: wave-flow 6s linear infinite; 
} 

@keyframes wave-flow { 
    0% { 
        transform: translateX(0);
    } 
    100% { 
        transform: translateX(-500px); /* 波の半分の幅だけ移動 */
    } 
}

/* フッター */

.site_footer_wrapper {
    background-color: #FFF;
}

.footer_contact_text {
    font-size: 28px;
    text-align: center;
    padding-bottom: 60px;
}


.footer_contact_btn a {
    display: flex;
    justify-content: center;
}

.footer_contact_btn a img {
    width:250px;
    height: auto;
    display: flex;
    justify-content: center;
}

.site_footer_logo {
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;
    padding-bottom: 30px;
}

.site_footer_logo a img {
    width:208px;
}

@media screen and ( max-width:1100px ) {
    
    .banner_image {
        width: 50%;
        text-align: center;
    }
    
    .banner_image img {
        width:90%;
    }

    .banner {
        padding:0;
        padding-bottom: 60px;
    }

    .banner_text h3 {
        font-size: 22px;
    }

    .banner_comment {
        font-size: 16px;
        padding-top: 0;
        padding-bottom: 15px;
    }




@media screen and ( max-width:767px ) {

    /* ハンバーガー */
    .hamburger {
    display:block;
    width: 30px;
    height: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
    margin-left: auto;
}

/* 真ん中の線 */
.hamburger span {
    width: 100%;
    height: 3px;
    background-color: #fefefd;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    right:0;
    transform: translateY(-50%);
    transition: all 0.3s;
}

/* 上の線（疑似要素） */
.hamburger span::before {
    content: '';
    display: block;
    width: 75%;
    height: 3px;
    background-color: #fefefd;
    border-radius: 2px;
    position: absolute;
    top: -14px;
    right:0;
    transition: all 0.3s;
}

/* 下の線（疑似要素） */
.hamburger span::after {
    content: '';
    display: block;
    width: 65%;
    height: 3px;
    background-color: #fefefd;
    border-radius: 2px;
    position: absolute;
    top: 14px;
    right:0;
    transition: all 0.3s;
}

/* メニューが開いた時（×印に変形） */
.hamburger.active span {
    background-color: transparent; /* 真ん中の線を透明に */
}

.hamburger.active span::before {
    top: 0;
    width:100%;
    transform: rotate(45deg);
}

.hamburger.active span::after {
    top: 0;
    width:100%;
    transform: rotate(-45deg);
}

.header_nav {
        display: none; /* PC用メニューを非表示 */
    }
    
.header_nav_sp {
    position:absolute;
    height:100vh;
    width: 100%;
    height: 100vh;
    background-color:#002447;
    top: 0;
    right: 0;
    z-index: 999;
    font-display: flex;
    flex-direction: column;
}

.header_nav_sp img {
    width:35%;
    position: absolute;
    top:540px;
    left:250px;
}

.header_nav_sp.active {
    display: block; /* ← これを追加！ */
}
    
    .header_nav_sp a {
         color:#fff;
         font-size: 20px;
    }

     .header_nav_sp ul {
        display: flex;
       justify-content: space-between;
        height:100%;
        justify-content: center;
        align-items: center;
        gap:80px
    }
    
    .header_nav_sp ul li {
        margin: 40px 0;
  
    }
    
    .header_nav_sp ul li a {
        color: #fefefd;
        text-decoration: none;
        writing-mode: vertical-lr;
        font-size: 22px;
    }
}

    .works_title_wrapper {
        padding:100px 20px 40px 20px;
    }


    .works_title {
        font-size: 50px;
        text-align: center;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }   

    .banner_text {
        width: 100%;
        padding-top: 30px;
    }

    .banner_text h3 {
        font-size: 20px;
        text-align: center;
    }

    .banner_comment {
        font-size: 16px;
    }

    .banner_image {
        width: 100%;
        text-align: center;
    }


/* footer */
    .footer_contact_text {
        font-size: 20px;
    }

    .footer_contact_btn a img {
        width:175px;
        height: auto;
    }

    .site_footer_logo a {
        text-align: end;

    }

    .site_footer_logo a img {
        width:40%

    }

}


@media screen and ( max-width:480px ) {


    .banner_text h3 {
        font-size: 18px;
    }

    .banner_comment {
        font-size: 14px;
        padding:10px;
    }

      .footer_contact_text {
        font-size: 18px;
    }

    .footer_contact_btn a img {
        width:120px;
    }

    .site_footer_logo {
        padding-top: 30px;
    }


}